Options +FollowSymLinks 
#RewriteEngine on 

#RewriteCond %{REQUEST_FILENAME} !-f
# Cette bidouille permet les RewriteRule relatif aurep où est le .htaccess
#RewriteCond %{REQUEST_URI} OpenLayers.js
#RewriteCond $1#%{REQUEST_URI} ([^#]*)#(.*?)\1$
#RewriteRule ^(.*)$ %2build/index.php [QSA,L]